{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="jumbotron">
				<h3>Responce</h3>
				{# 
					<hr>
					<h4>Организация: {{ appointment.appointment_expert.expert_organization() }}</h4>
					<h4>Отделение: {{ appointment.appointment_expert.expert_filial.filial_name }}</h4>
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="Data">
							<h4 id="exp_name">Специалист: {{ appointment.appointment_expert.expert_full_name() }} </h4>
							<h4 id="exp_spec">Специальность: {{ appointment.appointment_expert.expert_speciality_name() }} </h4>
						</div>
					</div>
				#}
				<hr>
				<h4>Тип приема: {{ appointment.appointment_type_work.type_work }}</h4>
				<div id="myTabContent-1" class="tab-content">
					<div class="tab-pane fade active in" id="Time">
						<h4 id="app_date">Дата: {{ appointment.appointment_date }}</h4>
						<h4 id="app_time">Время: {{ appointment.appointment_time }}</h4>
					</div>
				</div>
				<hr>
				<h4> Клиент: {{appointment.appointment_client.full_name}} </h4>
				<h4> Телефон клиента: {{appointment.appointment_client.client_phone}} </h4>
				<h4> Еmail клиента: {{appointment.appointment_client.email}} </h4>
				<hr>
				<h3>Описание:</h3>
				{% if appointment.appointment_description %}
					{% if appointment.appointment_description.appointment_description_text %}
						<p>
							{{ appointment.appointment_description.appointment_description_text }}
						</p>
					{% endif %}
					{% if appointment.appointment_description.appointment_description_img %}
						<img src="{{appointment.appointment_description.appointment_description_img.url}}" alt="" style="width: 200px; height: 200px;">
					{% endif %}
				{% else %}
					<h5><strong>Описания нет</strong></h5>
				{% endif %}
				<hr>
				{{ response.appointment_desc }}
				<br>
				{% if  response.appointment_ansver_img %}
				<img src="{{ response.appointment_ansver_img.url }}" alt="" style="width: 200px; height: 200px;">
				{% endif %}
				{#<a href="{{ url('expert_appointment',appointment_id=5)}}" class="btn btn-primary">Вернуться к редактированию</a>#}
				<br>
				<a href="{{ url('expert_appointment_list')}}" class="btn btn-primary">Перейти к списку заявок</a>	
			</div>

		</div>
	</div>
</div>
{% endblock %}