.medical-places-img{
	width: 64px;
	height: 64px;
	background-position: cover;
	margin: 0 25px 0 10px;
}
.medical-place{
	margin: 20px;
}
.underline{
	text-decoration: underline;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top: 10px;
  vertical-align: center;
}
.inline{
	display: inline;
}
.input-lg{
	width: 100%;
}