{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="jumbotron">
				<h3>Ваша заявка на прием</h3>
				<hr>
				<h4>Организация: {{ appointment.appointment_expert.expert_organization() }}</h4>
				<h4>Отделение: {{ appointment.appointment_expert.expert_filial.filial_name }}</h4>
				<h4>Специалист: {{ appointment.appointment_expert.expert_full_name() }} </h4>
				<h4>Специальность: {{ appointment.appointment_expert.expert_speciality_name() }} </h4>
				<hr>
				<h4>Тип приема: {{ appointment.appointment_type_work.type_work }}</h4>
				<h4>Дата: {{ appointment.appointment_date }}</h4>
				<h4>Время: {{ appointment.appointment_time }}</h4>
				<hr>
				<h3>Описание:</h3>
				{% if appointment.appointment_description %}
					{% if appointment.appointment_description.appointment_description_text %}
					<p>
						{{ appointment.appointment_description.appointment_description_text }}
					</p>
					{% endif %}
					{% if appointment.appointment_description.appointment_description_img %}
						<img src="{{appointment.appointment_description.appointment_description_img.url}}" alt="" style="width: 200px; height: 200px;">
					{% endif %}
				{% else %}
					<h5><strong>Описания нет</strong></h5>
				{% endif %}
				{% if appointment.appointment_answer %}
					<br>
					<hr>
					<h3>Ответ врача</h3>
					{% if appointment.appointment_answer.appointment_desc %}
					<p>
						{{ appointment.appointment_answer.appointment_desc }}
					</p>
					{% endif %}
					{% if appointment.appointment_answer.appointment_ansver_img %}
						<img src="{{appointment.appointment_answer.appointment_ansver_img.url}}" alt="" style="width: 200px; height: 200px;">
					{% endif %}
				{% endif %}

			</div>				
		</div>
	</div>
</div>
{% endblock %}