{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center">Заявки филиала</h2>
			<h4 class="text-center"> {{user.operator_filial.filial_organization.organization_name}} - {{user.operator_filial.filial_name}} </h4>
			<hr>
			<ul class="nav nav-tabs">
			  <li class="active"><a href="#NotConfirmed" data-toggle="tab" aria-expanded="true">Не подтвержденные</a></li>
			  <li class=""><a href="#Confirmed" data-toggle="tab" aria-expanded="false">Подтвержденные</a></li>
			  <li class=""><a href="#Closed" data-toggle="tab" aria-expanded="false">Закрытые</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
			  <div class="tab-pane fade active in" id="NotConfirmed">
			    <table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Дата</th>
						<th>Время</th>
						<th>Организация</th>
						<th>Отделение</th>
						<th>Тип приема</th>
						<th>Специалист</th>
					</tr>
				</thead>
				<tbody>
					{% for appointment in appointment_list %}
						{% if appointment.appointment_status == appointment.NOT_CONFIRMED %}
						<tr onclick="window.location.href='{{url('operatorroom_AppointmentDetail', args=(appointment.id,))}}'; return false" style="cursor: pointer">
							<td>{{appointment.id}}</td>
							<td>{{appointment.appointment_date}}</td>
							<td>{{appointment.appointment_time}}</td>
							<td>{{appointment.appointment_expert_organization()}}</td>
							<td>{{appointment.appointment_expert_filial()}}</td>
							<td>{{appointment.appointment_expert_type_work()}}</td>
							<td>{{appointment.appointment_expert.expert_full_name()}}</td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table> 
			  </div>
			  <div class="tab-pane fade" id="Confirmed">
			    <table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Дата</th>
						<th>Время</th>
						<th>Организация</th>
						<th>Отделение</th>
						<th>Тип приема</th>
						<th>Специалист</th>
					</tr>
				</thead>
				<tbody>
					{% for appointment in appointment_list %}
						{% if appointment.appointment_status == appointment.CONFIRMED %}
						<tr onclick="window.location.href='{{url('operatorroom_AppointmentDetail', args=(appointment.id,))}}'; return false" style="cursor: pointer">
							<td>{{appointment.id}}</td>
							<td>{{appointment.appointment_date}}</td>
							<td>{{appointment.appointment_time}}</td>
							<td>{{appointment.appointment_expert_organization()}}</td>
							<td>{{appointment.appointment_expert_filial()}}</td>
							<td>{{appointment.appointment_expert_type_work()}}</td>
							<td>{{appointment.appointment_expert.expert_full_name()}}</td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table> 
			  </div>
			  <div class="tab-pane fade" id="Closed">
			    <table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Дата</th>
						<th>Время</th>
						<th>Организация</th>
						<th>Отделение</th>
						<th>Тип приема</th>
						<th>Специалист</th>
					</tr>
				</thead>
				<tbody>
					{% for appointment in appointment_list %}
						{% if appointment.appointment_status == appointment.CLOSED %}
						<tr onclick="window.location.href='{{url('operatorroom_AppointmentDetail', args=(appointment.id,))}}'; return false" style="cursor: pointer">
							<td>{{appointment.id}}</td>
							<td>{{appointment.appointment_date}}</td>
							<td>{{appointment.appointment_time}}</td>
							<td>{{appointment.appointment_expert_organization()}}</td>
							<td>{{appointment.appointment_expert_filial()}}</td>
							<td>{{appointment.appointment_expert_type_work()}}</td>
							<td>{{appointment.appointment_expert.expert_full_name()}}</td>
						</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			</table> 
			  </div>
			</div>
			
			
		</div>
	</div>
</div>
{% endblock %}