{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="jumbotron">
				<h3>Заявка</h3>
				<h3>{{appointment.get_appointment_status_display()}}</h3>
				<hr>
				<h4>Организация: {{ appointment.appointment_expert.expert_organization() }}</h4>
				<h4>Отделение: {{ appointment.appointment_expert.expert_filial.filial_name }}</h4>
				<div id="myTabContent" class="tab-content">
				  	<div class="tab-pane fade" id="EditForm">
						<form>
							{{ expert_form }}
							{{csrf_token | safe}}
							<input type="hidden" id="appointment_id" value="{{appointment.id}}">
						</form>
						<br>
						<a class="btn btn-primary" id="sendExpert" href="#Data"data-toggle="tab" aria-expanded="false"> Save </a>
					</div>
					<div class="tab-pane fade active in" id="Data">
						<h4 id="exp_name">Специалист: {{ appointment.appointment_expert.expert_full_name() }} </h4>
						<h4 id="exp_spec">Специальность: {{ appointment.appointment_expert.expert_speciality_name() }} </h4>
						<a href="#EditForm" data-toggle="tab" aria-expanded="true" >Изменить специалиста</a>
					</div>
				</div>
				
				<hr>
				<h4>Тип приема: {{ appointment.appointment_type_work.type_work }}</h4>
				<div id="myTabContent-1" class="tab-content">
				  	<div class="tab-pane fade" id="EditFormTime">
						<form>
							{{ date_time_form }}
							{{csrf_token | safe}}
							<input type="hidden" id="appointment_id" value="{{appointment.id}}">
						
						<br>
						<input class="btn btn-primary" type="button" id="sendTime" href="#Time"data-toggle="tab" aria-expanded="false" value="save"></input>

					</div>
					<div class="tab-pane fade active in" id="Time">
						<h4 id="app_date">Дата: {{ appointment.appointment_date }}</h4>
						<h4 id="app_time">Время: {{ appointment.appointment_time }}</h4>
						<h6 id="time_dng" class="text-danger"></h6>
						<h6 id="time_suc" class="text-success"></h6>
						<a href="#EditFormTime" data-toggle="tab" aria-expanded="true" >Изменить время</a>
					</div>
				</div>
				<hr>
				<h4> Клиент: {{appointment.appointment_client.full_name}} </h4>
				<h4> Телефон клиента: {{appointment.appointment_client.client_phone}} </h4>
				<h4> Еmail клиента: {{appointment.appointment_client.email}} </h4>
				<h3>Описание:</h3>
				{% if appointment.appointment_description %}
					{% if appointment.appointment_description.appointment_description_text %}
					<p>
						{{ appointment.appointment_description.appointment_description_text }}
					</p>
					{% endif %}
					{% if appointment.appointment_description.appointment_description_img %}
						<img src="{{appointment.appointment_description.appointment_description_img.url}}" alt="" style="width: 200px; height: 200px;">
					{% endif %}
				{% else %}
					<h5><strong>Описания нет</strong></h5>
				{% endif %}
				<div class="row">
					<div class="col-sm-3 col-sm-offset-3">
						<a href="{{url('operatorroom_AppointmentListView')}}" style="width: 100%" type='button' class='btn btn-default' >Отмена</a>
					</div>
					<div class="col-sm-3">
						<a href="{{urlGet('operatorroom_AppointmentListView',status='CL',id=appointment.id)}}" style="width: 100%" type='button' class='btn btn-danger' >Отклонить</a>
					</div>
					<div class="col-sm-3">
						<a href="{{urlGet('operatorroom_AppointmentListView',status='CF',id=appointment.id)}}" style="width: 100%" type='button' class='btn btn-success' >Подтвердить</a>
					</div>
						
					</div>
				</div>
			</div>				
		</div>
	</div>
</div>
{% endblock %}