{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center">Ваши заявки</h2>
			<hr>
			<table class="table table-striped table-hover ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Дата</th>
						<th>Организация</th>
						<th>Отделение</th>
						<th>Тип приема</th>
						<th>Специалист</th>
					</tr>
				</thead>
				<tbody>
					{% for appointment in appointment_list %}
						<tr {% if appointment.appointment_answer%}
								class="success"
							{% elif appointment.appointment_status == appointment.CONFIRMED%}
								class="info"
							{% elif appointment.appointment_status == appointment.CLOSED  %}
								class="danger"
							{% endif %}
							onclick="window.location.href='{{url('appointment', args=(appointment.id,))}}'; return false" 
							style="cursor: pointer"
						>
							<td>{{appointment.id}}</td>
							<td>{{appointment.appointment_date}}</td>
							<td>{{appointment.appointment_expert_organization()}}</td>
							<td>{{appointment.appointment_expert_filial()}}</td>
							<td>{{appointment.appointment_expert_type_work()}}</td>
							<td>{{appointment.appointment_expert.expert_full_name()}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table> 
			<hr>
			<div class="row">
				<div class="col-md-3 col-md-offset-9">
					<h5>Обозначение цветов</h5>
					<table class="table table-striped table-hover ">
						<tbody>
							<tr>
								<td>На проверке</td>
							</tr>
							<tr class="danger">
								<td>Отклонена</td>
							</tr>
							<tr class="info">
								<td>Подтвержденная</td>
							</tr>
							<tr class="success">
								<td>Отвечена</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}