<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% if title %}
		<title>{{title}}</title>
	{% else %}
		<title>НеТу ТайТлА!!!Аа!</title>
	{% endif %}
	
	<link rel="stylesheet" type="text/css" href="{{ static('css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ static('css/main.css') }}">		
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ static('js/bootstrap.min.js') }}"></script>
	<script src="{{ static('js/jquery.redirect.js')}}"></script>
	<script type="text/javascript" src="{{ static('js/main.js') }}"></script>
</head>
<body>	
	{% include 'nav.html' %}
	{% include 'notification.html' %}
    {% block content %}{% endblock %}
</body>
</html>