{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
			<div class="col-md-6">
			<div class="container_menu">
				</br>
				<form class="form-horizontal" action="" method="post">
					<h1 class="text-left col-sm-offset-4">Изменение номера телефона:</h1>
					<br>
					{% if error=='ErrorYourPhone'%}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
					<div class="alert alert-danger fade in">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Вы указали ваш текущий номер телефона!</strong> Вы уже подттвердили данный номер телефона, на него будут приходить оповещения. Вы можете его поменять на другой, для этого укажите ваш новый номер в поле ниже.
					</div>
					</div>
					</div>
					{% endif %}
					<div class="form-group">
					{% for element in form %}
					<div class="form-group">
				   		<label for="element.id_for_label" class="col-sm-3 control-label">{{element.label}}</label>
					    <div class="col-sm-9">
					    {{element}}
				   		</div>
				   	</div>	
				   		{% endfor %}
				    </div>
				    {{ csrf_token|safe }}
				    <br>
					<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-6">
					<input type="submit" value="Изменить пароль" class="btn btn-lg btn-primary btn-block">
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock %}