{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
			<div class="col-md-6">
			<div class="container_menu">
				<br>
				<form class="form-horizontal" action="" method="post">
					<h1 class="text-left col-sm-offset-4 col-sm-8">Введите код подтверждения:</h1>
					<br>
					{% if error=='ErrorCode'%}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
					<div class="alert alert-danger fade in c">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Указан неверный код!</strong> Код подтвердждения введен неверно, пожалуйста проверте смс сообщение и введите код еще раз.
					</div>
					</div>
					</div>
					{% endif %}
					{% if error=='ErrorPost'%}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
					<div class="alert alert-danger fade in c">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Код указан в неверном формате!</strong> Код подтвердждения введен неверно. Пожалуйста проверте смс сообщение и введите код еще раз.
					</div>
					</div>
					</div>
					{% endif %}
					{% if error=='CodeResendet'%}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
					<div class="alert alert-info fade in c">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Код подтверждения повторно отправлен</strong>
					</div>
					</div>
					</div>
					{% endif %}
					<div class="form-group">
				   		<label for="element.id_for_label" class="col-sm-4 control-label">{{form.confirm_code_phone_form_code.label}}</label>
					    <div class="col-sm-8">
					    {{form.confirm_code_phone_form_code}}
					    <p><a href="{{ urlGet('timetable_edit_confirmcodephone',code='resend')}}"> Отправить код еще раз</a></p>
						
				   		</div>

				    </div>
				    <div class="form-group", style="margin-top: -25px">
				   		<label for="element.id_for_label" class="col-sm-4 control-label">
				   		</label>
					    <div class="col-sm-8">
					    <h5>Код подтверждения отправлен на номер +{{phone}}</h6>
					    <p style="margin-top: -10px"><a href="{{ url('timetable_edit_confirmphone')}}"> Изменить номер телефона</a></p> 
				   		</div>
				    </div>
				    {{ csrf_token|safe }}
					<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-6">
					<input type="submit" value="Подтвердить код" class="btn btn-lg btn-primary btn-block">
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock %}