{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
			<div class="col-md-8">
			<div class="container_menu">
				</br>
				{% if succes=='y' %}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
					<div class="alert alert-success fade in">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Данные успешно изменены!</strong>
					</div>
					</div>
					</div>
				{% endif %}

				<form class="form-horizontal" action="" method="post">
					
					<h1 class="text-left col-sm-offset-3">Редактироване профиля:</h1>
					<br>
					{% for element in form %}
						<div class="form-group">
						{% if element.name == 'edit_form_phone' %}
						    <label for="{{element.id_for_label}}" class="col-sm-3 control-label">{{element.label}}</label>
						    <div class="col-sm-6">
						    	{{element}}
					   		</div>
					   		<div class="col-sm-3">
					   		<a href="{{ url('timetable_edit_confirmphone')}}" class="btn underline" style="width: 100%;"> Изменить телефон</a>
					   		</div>
				   		{% else %}
					   		<label for="{{element.id_for_label}}" class="col-sm-3 control-label">{{element.label}}</label>
						    <div class="col-sm-9">
						    	{{element}}
					   		</div>
				   		{%endif%}
					    </div>
				    {% endfor%}	
				    <div class="row">
				    	<div class="col-sm-3"></div>
				    	<div class="col-sm-4">
							<a class="text-right" href="{{ url('timetable_change_password')}}" class="btn underline" style="width: 100%;"> Изменить пароль</a>
						</div>	
					</div>
					{{ csrf_token|safe }}
				    <br>

					<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-4">
					<input type="submit" value="Сохранить изменения" class="btn btn-lg btn-primary btn-block">
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock %}