{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h4><a href="{{url ('timetable_organizations')}}" class="text-muted">Организации></a> <spawn>{{current_organization.organization_name}}</spawn></h4>
			<div class="list-group">
			{% for filial in filials %}
			<a href="{{filial.filial_name}}" class="list-group-item" style="overflow: auto; width: 100%" class="">
				<div class="col-sm-9">
					<h3>{{filial.filial_name}}</h3>
					<h5>{{filial.filial_street}} {{filial.filial_house}}</h5>
				</div>
				</a>
			
			{% endfor %}
			</div>
			{% if filials.count() == 0 %}
			<p>
				К сожалению в этом городе нет отделений данной организации
			</p>
			{% endif %}

		</div>
		<div class="col-md-6">
			<form method="POST" class="form-horizontal">
			<fieldset>
    		<legend>Выберите город: </legend>
			<div class="form-group">
		      <label for="select" class="col-lg-2 control-label">{{form.choose_city_form_city.label}}</label>
		      <div class="col-lg-10">
		        {{form.choose_city_form_city}}
		     </fieldset>
		     {{ csrf_token|safe }} 
	        </form>
		</div>
	</div>
</div>
{% endblock %}