{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			{% if not user.client.client_confirm_email %}
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Вы не подтвердили свой E-Mail: {{ user.email }}</h3>
					</div>
					<div class="panel-body">
						Для продолжения работы с системой подтвердите E-Mail. На вашу почту отправлено письмо с сылкой для подтверждения. 
						<br>
						<a href="{{ urlGet('timetable_root',email='resend') }}">Отправить письмо еще раз.</a>
					</div>
				</div>
			{% endif %}
			{% if not user.client.client_confirm_phone %}
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">У вас не подтвержден номер телефона: {{ user.client.client_phone }}</h3>
					</div>
					<div class="panel-body">
						Для подтверждения телефона перейдите по <a href="{{ url('timetable_edit_confirmcodephone') }}">этой ссылке</a>.
					</div>
				</div>
			{% endif %}
		<div class="col-md-2"></div>
	</div>
</div>
{% endblock %}