{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="container_menu">
				<form class="form-horizontal" action="" method="post">
					<h1 class="text-center">Войти: </h1><br>

					{% if result  %}
					<br>
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						{% if result == 1 %}
							<strong>Ошибка при вводе логина и пароля!</strong> Проверьте введеные данные.
						{% elif result == 2 %}
							<strong>Аккаунт не активен!</strong> Обратитесь к администратору.
						{% endif %}
					</div>
					{% endif %}

					{{ csrf_token|safe }}

					{{ form.login_form_username.errors }}
					<label for="{{ form.login_form_username.id_for_label }}">Введите ваш логин:</label>
					{{ form.login_form_username }}

					<br>
					
					{{ form.login_form_password.errors }}
					<label for="{{ form.login_form_password.id_for_label }}">Введите ваш пароль:</label>
					{{ form.login_form_password }}

					<br>
					
					<input type="submit" value="Войти" class="btn btn-lg btn-primary btn-block">
				</form>
				<br>	<br>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}