<!-- Navigation menu -->
 <nav class="navbar navbar-default">
  <div class="container container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url('timetable_root')}}">Medical base</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated() %}
        {% if getUserType(user)=="Client" %}      
		    <li class="active"><a href="{{ url('timetable_organizations') }}"> Организации <span class="sr-only"></span></a></li>
      	<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Профиль<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url('timetable_edit')}}">Редактировать профиль</a></li>
              <li><a href="{{ url('appointment_list')}}">Мои заявки</a></li>
              <li class="divider"></li>
              <li><a href="{{ url('timetable_login') }}?logout=true">Выйти</a></li>
            </ul>
        </li>
        {% elif getUserType(user)=="Operator" %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Профиль<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url('timetable_login') }}?logout=true">Выйти</a></li>
            </ul>
          </li>
        {% elif getUserType(user)=="Expert" %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Профиль<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url('timetable_login') }}?logout=true">Выйти</a></li>
            </ul>
          </li>
        {% endif %}
      {% else %}        
        <li><a href="{{ url('timetable_organizations') }}"> Организации <span class="sr-only"></span></a></li>
        <li><a href="{{ url('timetable_registration') }}">Регистрация</a></li>
        <li><a href="{{ url('timetable_login') }}">Войти<span class="sr-only"></span></a></li>
      {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End navigation menu -->