<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{% if notes %}
				{% for note in notes %}
					<div class="alert alert-dismissible 
									{% if note.typeNotification == note.enumTypeNotification.Warning %}
										alert-warning
									{% elif note.typeNotification == note.enumTypeNotification.Danger %}
										alert-danger
									{% elif note.typeNotification == note.enumTypeNotification.Succes %}
										alert-success
									{% elif note.typeNotification == note.enumTypeNotification.Info %}
										alert-info
									{% endif %}	">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<h4>{{note.title|safe}}</h4>
	  					<p>{{note.text|safe}}</p>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>