{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
			{% for organization in organizations %}
			<a href="{{organization.organization_name}}" class="list-group-item" style="overflow: hidden; width: 100%" class="">
				<div class="col-sm-3">
					<img class="medical-places-img" src="{{ organization.organization_logo.url }}" >
				</div>
				<div style="top: 20px;" class="col-sm-9">
					<h3 style="display: inline;">{{organization.organization_name}}</h3>
				</div>
				</a>
			
			{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}