{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
			<div class="col-md-6">
			<div class="container_menu">
				</br>
				<form class="form-horizontal" action="" method="post">
					<h1 class="text-left col-sm-offset-4">Изменение номера телефона:</h1>
					<br>
					{% if error=='ErrorYourPhone'%}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
					<div class="alert alert-danger fade in">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Вы указали ваш текущий номер телефона!</strong> Вы уже подттвердили данный номер телефона, на него будут приходить оповещения. Вы можете его поменять на другой, для этого укажите ваш новый номер в поле ниже.
					</div>
					</div>
					</div>
					{% endif %}
					{% if error=='ErrorRepeatPhone'%}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
					<div class="alert alert-danger fade in c">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Вы указали уже зарегистрированный номер телефона!</strong> Если этот номер действительно ваш, свяжитесь с нами по телефону
					</div>
					</div>
					</div>
					{% endif %}
					{% if error=='ErrorPost'%}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
					<div class="alert alert-danger fade in c">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Ошибка данных формы!</strong> Введите номер телефона еще раз
					</div>
					</div>
					</div>
					{% endif %}
					{% if error=='ErrorFormatPhone'%}
					<br>
					<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
					<div class="alert alert-danger fade in c">
					    <a href="#" class="close" data-dismiss="alert">&times;</a>
					    <strong>Ошибка, неверный формат номера телефона!</strong> Введите номер телефона еще раз
					</div>
					</div>
					</div>
					{% endif %}
					<div class="form-group">
				   		<label for="element.id_for_label" class="col-sm-4 control-label">{{form.phone_form_phone.label}}</label>
				   		
					    <div class="col-sm-8">{{form.phone_form_phone}}	</div>
				    </div>
				    <div class="form-group", style="margin-top: -25px">
				   		<label for="element.id_for_label" class="col-sm-4 control-label">
				   		</label>
					    <div class="col-sm-8">
					    <h6>Введите номер телефона в формате 9хх ххх хх хх</h6>
				   		</div>
				    </div>
				    {{ csrf_token|safe }}
				    <br>
					<div class="row">
					<div class="col-sm-4"></div>
					<div class="col-sm-6">
					<input type="submit" value="Отправить код подтверждения" class="btn btn-lg btn-primary btn-block">
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock %}