{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<div class="container_menu">
				</br>

				<form class="form-horizontal" action="" method="post">
					<h1 class="text-center">Регистрация</h1>
					<h4 class="">Все поля обязательны для заполнения</h4>
					
					{% if result  %}
					<br>
					<div class="alert alert-dismissible alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						{% if result == 1 %}
							<strong>Ошибка при вводе пароля!</strong> Пароли не совподают.
						{% elif result == 2 %}
							<strong>Логин уже используется!</strong> Придумайте новый логин.
						{% elif result == 3 %}
							<strong>Данный E-Mail уже используется!</strong>
						{% elif result == 4 %}
							<strong>E-Mail введен некоректно!</strong> Проверьте E-Mail на ошибки.
						{% elif result == 5 %}
							<strong>Введеный номер телефона уже используется!</strong> Введите номер телефона коректно.
						{% endif %}
					</div>
					{% endif %}

					<br>
					{{ csrf_token|safe }}

					{{ form.register_form_username.errors }}
					<label for="{{ form.register_form_username.id_for_label }}">Введите ваш Логин:</label>
					{{ form.register_form_username }}

					<br>

					{{ form.register_form_name.errors }}
					<label for="{{ form.register_form_name.id_for_label }}">Введите ваше Имя:</label>
					{{ form.register_form_name }}

					<br>

					{{ form.register_form_patronymic.errors }}
					<label for="{{ form.register_form_patronymic.id_for_label }}">Введите ваше Отчество:</label>
					{{ form.register_form_patronymic }}

					<br>

					{{ form.register_form_last_name.errors }}
					<label for="{{ form.register_form_last_name.id_for_label }}">Введите вашу Фамилию:</label>
					{{ form.register_form_last_name }}

					<br>

					{{ form.register_form_email.errors }}
					<label for="{{ form.register_form_email.id_for_label }}">Введите ваш E-Mail:</label>
					{{ form.register_form_email }}

					<br>

					{{ form.register_form_phone.errors }}
					<label for="{{ form.register_form_phone.id_for_label }}">Введите ваш Телефон в формате 9ХХХХХХХХХ:</label>
					{{ form.register_form_phone }}

					<br>
					
					{{ form.register_form_password.errors }}
					<label for="{{ form.register_form_password.id_for_label }}">Введите ваш Пароль:</label>
					{{ form.register_form_password }}

					<br>

					{{ form.register_form_password_confirm.errors }}
					<label for="{{ form.register_form_password_confirm.id_for_label }}">Введите Пароль еще раз:</label>
					{{ form.register_form_password_confirm }}

					<br>
					
					<input type="submit" value="Регистрация" class="btn btn-lg btn-primary btn-block">
				</form>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
{% endblock %}