{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-6">
		<legend><a href="{{url ('timetable_organizations')}}" class="text-muted">Организации></a> <a href="{{url ('timetable_organization',kwargs={'organization':organization})}}" class="text-muted">{{organization}}></a><span>{{current_filial}}</span></legend>
			
			<div class="list-group">
			{% if experts is defined %}
				{% for expert in experts %}
					<a href="{{url ('timetable_table',kwargs={'expert':expert.id})}}" class="list-group-item" style="overflow: auto; width: 100%" class="">
					<div class="col-sm-9">
						<h2>{{expert.first_name}} {{expert.expert_patronymic}} {{expert.last_name}}</h2>
					</div>
					</a>
				
				{% endfor %}
			
				{% if experts.count() == 0 %}
					<p>
						К сожалению в count =0
					</p>
				{% endif %}
			{% endif%}
			</div>
			{% if error == 'ChooseSpec' %}
				<p>
					Выберите специальность в поле справа
				</p>
			{%endif%}
			
		</div>
		<div class="col-md-6">
			<form method="POST" class="form-horizontal">
			<fieldset>
    		<legend>Выберите cпециальность: </legend>
			<div class="form-group">
		      <label for="select" class="col-lg-4 control-label">{{form.choose_speciality_form_speciality.label}}</label>
		     
		      <div class="col-lg-8">
		        {{form.choose_speciality_form_speciality}}
		     </fieldset>
		     {{ csrf_token|safe }} 
	        </form>
		</div>
	</div>
</div>
{% endblock %}