{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-6 col-md-offset-1">
					<h3 class="text-center">{{ expert.first_name }} {{ expert.last_name }} {{ expert.expert_patronymic }}</h3>
					<p>{{ expert.expert_description }}</p>
				</div>
				<div class="col-md-4">
					<img src="{{ expert.expert_image.url }}" class="img-rounded" style="width: 160px; height: 300px; display:block; margin:0 auto;">		
				</div>

			</div>
			<br><br>
			<hr>
			<br><br>
			<h2 class="text-center">Расписание</h2>
			<ul class="nav nav-tabs">
				{% for x in timetablelist %}
					<li class="{% if loop.index == 1 %}active{% endif %}">
						<a href="#{{ loop.index }}" data-toggle="tab" aria-expanded="{% if loop.index == 1 %}false{% else %}true{% endif %}">
							{{ x['date'] }}
						</a>
					</li>
				{% endfor %}
			</ul>
			<div id="myTabContent" class="tab-content" style="min-height:200px;">

				{% for table in timetablelist %}
					<div class="tab-pane fade {% if loop.index == 1 %}active in{% endif %}" id="{{ loop.index }}">
						{% if not table['rasp'] %}
							<h2 class="text-center"> Нет записей </h2>
						{% else %}
							<table class="table table-striped table-hover">
								<thead>
									<tr>
										<th>Тип приема</th>
										<th colspan="3" class="text-center">Время</th>
									</tr>
								</thead>
								<tbody>
									{% for x in table['rasp'] %}
									{% set rowloop = loop %}
										<tr class="" id="tr_{{loop.index}}_{{table['date']}}">
											<td>{{ x['name'] }}</td>
											{% for time in x['times'] %}
												<td>
													<div class="checkbox">
				  										<label>
				  											<input id="cell_{{rowloop.index}}/{{rowloop.revindex}}_{{loop.index}}/{{loop.revindex}}_{{table['date']}}" type="checkbox" class="chb" date="{{ table['date'] }}" time="{{ time['time'] }}" table_type="{{ x['table_type_id'] }}"
				  											{%if time['close'] == True %}disabled close="true"{% endif %}>{{ time['time'] }}
				  										</label>
				  									</div>
												</td>
											{% endfor %}
										</tr>
									{% endfor %}
								</tbody>
							</table> 
						{% endif %}
					</div>
				{% endfor %}
				<form action="{% if user.is_authenticated() %}
								{{url('appointment_create')}}
							 {% else %}
							 	{{url('appointment_create_new_user')}}
							 {% endif %}" method="POST">
					{{ csrf_token | safe }}
					<input type="hidden" id="expert_id" value="{{ expert.id }}">
					<input class="btn btn-default" id="submitbtn" type="button" value="Оставить заявку" />
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}