{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% if step == 1 %}
				<h2 class="text-center">Для записи ввидите ваш номер телефона</h2> <br> <br>
				<form class="form-horizontal" action="" method="post">
					{{ csrf_token|safe }}
					<div class="form-group">
				   		<label for="{{form.phone_form_phone.id_for_label}}" class="col-sm-4 control-label">
							Ваш номер
				   		</label>
				   		
					    <div class="col-sm-8">{{form.phone_form_phone}}	</div>
				    </div>
				    <div class="form-group", style="margin-top: -25px">
				   		<label for="element.id_for_label" class="col-sm-4 control-label">
				   		</label>
					    <div class="col-sm-8">
					    	<h5>Введите номер телефона в формате 9хх ххх хх хх</h5>
				   		</div>
				    </div>
					{{ hiddenPost('text',text)|safe }}
					{{ hiddenPost('expert_id',expert.id)|safe }}
					{{ hiddenPost('step',step)|safe }}
					<p class="text-center"><input type="submit" value="Отправить код подтверждения" class="btn btn-lg btn-primary"></p>
				</form>
			{% endif %}
			{% if step == 2 %}
				<h2 class="text-center">Введите проверочный код</h2> <br> <br>
				<form class="form-horizontal" action="" method="post">
					{{ csrf_token|safe }}
					<div class="form-group">
				   		<label for="{{form.confirm_code_phone_form_code.id_for_label}}" class="col-sm-4 control-label">
							Ваш код
				   		</label>
				   		
					    <div class="col-sm-8">{{form.confirm_code_phone_form_code}}	</div>
				    </div>
				    <div class="form-group", style="margin-top: -25px">
				   		<label for="{{form.confirm_code_phone_form_code.id_for_label}}" class="col-sm-4 control-label">
				   		</label>
					    <div class="col-sm-8">
					    	<h5>В течение нескольких минут вам придет СМС с кодом подтверждения</h5>
				   		</div>
				    </div>
					{{ hiddenPost('text',text)|safe }}
					{{ hiddenPost('expert_id',expert.id)|safe }}
					{{ hiddenPost('step',step)|safe }}
					{{ hiddenPost('phone_fast_id',phone_fast.id)|safe }}
					<p class="text-center"><input type="submit" value="Отправить код подтверждения" class="btn btn-lg btn-primary"></p>
				</form>
			{% endif %}
			{% if step == 3 %}
				<h2 class="text-center">Введите ваши данные</h2> <br> <br>
				<form class="form-horizontal" action="" method="post">
					{{ csrf_token|safe }}
					<div class="form-group">
				   		<label for="{{form.fast_register_form_username.id_for_label}}" class="col-sm-4 control-label">
							Login
				   		</label>
				   		
					    <div class="col-sm-8">{{form.fast_register_form_username}}	</div>
				    </div>
				    <div class="form-group">
				   		<label for="{{form.fast_register_form_name.id_for_label}}" class="col-sm-4 control-label">
							Имя
				   		</label>
				   		
					    <div class="col-sm-8">{{form.fast_register_form_name}}	</div>
				    </div>
				    <div class="form-group">
				   		<label for="{{form.fast_register_form_last_name.id_for_label}}" class="col-sm-4 control-label">
							Фамилия
				   		</label>
				   		
					    <div class="col-sm-8">{{form.fast_register_form_last_name}}	</div>
				    </div>
				    <div class="form-group">
				   		<label for="{{form.fast_register_form_patronymic.id_for_label}}" class="col-sm-4 control-label">
							Отчество
				   		</label>
				   		
					    <div class="col-sm-8">{{form.fast_register_form_patronymic}}	</div>
				    </div>
				    <div class="form-group">
				   		<label for="{{form.fast_register_form_email.id_for_label}}" class="col-sm-4 control-label">
							Email
				   		</label>
				   		
					    <div class="col-sm-8">{{form.fast_register_form_email}}	</div>
				    </div>
					{{ hiddenPost('text',text)|safe }}
					{{ hiddenPost('expert_id',expert.id)|safe }}
					{{ hiddenPost('step',step)|safe }}
					{{ hiddenPost('phone_fast_id',phone_fast.id)|safe }}
					<p class="text-center"><input type="submit" value="Подтвердить" class="btn btn-lg btn-primary"></p>
				</form>
			{% endif %}
			{% if step == 4 %}
				<div class="jumbotron">
					<h3>Запись на прием</h3>
					<hr>
					<h4>Организация: {{ expert.expert_organization() }}</h4>
					<h4>Филиал: {{ expert.expert_filial.filial_name }}</h4>
					<h4>Специалист: {{ expert.expert_full_name() }} </h4>
					<hr>
					<h4>Тип приема: {{type_work.type_work}}</h4>
					<h4>Дата: {{dates[0]['date']}}</h4>
					<h4>Время: {% for x in dates %} {{ x['time'] }} {% endfor %}</h4>
					<hr>
					
					<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
						<h3>Опишите вашу проблему</h3>

						{{ csrf_token|safe }}

						{{ form.appointment_form_text.errors }}
						<label for="{{ form.appointment_form_text.id_for_label }}">Описание проблемы:</label>
						{{ form.appointment_form_text }} <br>

						{{ form.appointment_form_img.errors }}
						<label for="{{ form.appointment_form_img.id_for_label }}">Изображение:</label>
						{{ form.appointment_form_img }} <br> <br>

						{{ hiddenPost('text',text)|safe }}
						{{ hiddenPost('expert_id',expert.id)|safe }}
						{{ hiddenPost('step',step)|safe }}
						{% if phone_fast %}
							{{ hiddenPost('phone_fast_id',phone_fast.id)|safe }}
						{% endif %}

						<p><input type="submit" value="Записаться" class="btn btn-lg btn-primary"></p>
					</form>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}