{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="jumbotron">
				<h3>Запись на прием</h3>
				<hr>
				<h4>Организация: {{ expert.expert_organization() }}</h4>
				<h4>Отделение: {{ expert.expert_filial.filial_name }}</h4>
				<h4>Специалист: {{ expert.expert_full_name() }} </h4>
				<hr>
				<h4>Тип приема: {{type_work.type_work}}</h4>
				<h4>Дата: {{dates[0]['date']}}</h4>
				<h4>Время: {% for x in dates %} {{ x['time'] }} {% endfor %}</h4>
				<hr>
				
				<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
					<h3>Опишите вашу проблему</h3>

					{{ csrf_token|safe }}

					{{ form.appointment_form_text.errors }}
					<label for="{{ form.appointment_form_text.id_for_label }}">Описание проблемы:</label>
					{{ form.appointment_form_text }} <br>

					{{ form.appointment_form_img.errors }}
					<label for="{{ form.appointment_form_img.id_for_label }}">Изображение:</label>
					{{ form.appointment_form_img }} <br> <br>

					<input type="hidden" name="text" value="{{ text }}">
					<input type="hidden" name="expert_id" value="{{ expert.id }}">

					<p><input type="submit" value="Записаться" class="btn btn-lg btn-primary"></p>
				</form>

			</div>
				
			


			
		</div>
	</div>
</div>
{% endblock %}