{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h1 class="text-center">Новости</h1><br>
			<div class="jumbotron">
				<h2>Тестовый запуск системы записи на прием</h2>
				<br>
				<h3>Дата: 2015-10-4</h3>
				<p>Система работает в тестовом режиме. Аккуратнее!!!:</p>
				<p><a class="btn btn-primary btn-lg">Подробнее</a></p>
			</div>
		</div>
	</div>
</div>
{% endblock %}